
$header-color: #2e1c4a;
$background-color: #f1dae6;
$heading-color: #6a45a1;
$button-color: #e64c73;
$button-color2: #5d3894;
$done-list-color: #00cc99;

body {
	margin: 0;
	background-color: $background-color;
	font-family: 'Lato', sans-serif;
}
.header {
	background-color: $header-color;
	margin: 0;
	padding: 3%;
	h1 {
	font-family: 'Noto Serif', serif;
	color: $button-color;
	font-size: 1.5em;
	margin: 0;
	}
}
h2 {
	color: $heading-color;
	margin-bottom: 10%;
	font-family: 'Noto Serif', serif;
}
.super_wrapper {
	display: flex;
	justify-content: center;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 auto;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 0;
}
.input_div {
	display: flex;
	justify-content: center;
	flex: 0 1 auto;
	width: 100%;
}
.input_div_middle {
	flex: 0 1 auto;
	padding: 10% 0 10% 0;
	box-sizing: border-box;
	text-align: center;
}
.input {
	border-radius: 20px;
	font-size: 1.2em;
	padding: 7% 9% 7% 9%;
	border: 2px solid $heading-color;
	margin: 10% auto 6% auto;
	text-align: center;
}
.list_wrap {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	box-sizing: border-box;
	width: 90%;
	text-align: center;
	padding-bottom: 0;	
	border-top: 2px solid $heading-color;
}
.top_div {
	flex: 0 1 auto;
	background-color: white;
	padding: 5% 2% 10% 2%;
	box-sizing: border-box;
	
}
.img_div {
	background: url("../../images/hand_1.png") no-repeat;
	height: 44vh;
	background-size: 100%;	
	margin-bottom: 0;
}
.img_div_2 {
	background: url("../../images/hand_2.png") no-repeat;
	height: 44vh;
	background-size: 100%;	
	margin-bottom: 0;
}
img {
	min-width: 100%;
}
p {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color: $heading-color;
	color: $button-color;
}
p.intro {
	padding: 0 1% 0 1%;
}
p.p_done {
	color: $done-list-color;
}
.glyphicon-ok {
	color: $done-list-color;
}
.glyphicon-remove {
	color: $button-color;
}

.errorMessage p{
	color: black;
	background-color: yellow;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 2% 0 2% 0;
}
.addButton {
	background-color: $button-color2;
    border: none;
    color: white;
    padding: 5% 16%;
 	border-radius: 25px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 auto;
	display: block;
	box-sizing: border-box;
	
}
.deleteAllDoneButton, .deleteAllButton {
	background-color: $button-color;
    border: none;
    color: white;
    padding: 2% 5%;
	width: 120px;
    text-decoration: none;
	border-radius: 15px;
    //font-size: 1em;
    margin: 15% auto 0 auto;
	display: block;
	box-sizing: border-box;
	//text-align: center;
	
}
.done {
	background-color: #e6e6e6;
	border-radius: 15px;
    border: none;
    color: black;
    padding: 1.5% 2%;
    text-decoration: none;
    font-size: 0.7em;
    margin: 0 2% 5% 2%;
	box-sizing: border-box;
}
.delete, .deleteDone {
	background-color: #e6e6e6;
	border-radius: 15px;
    border: none;
    color: black;
    padding: 1.5% 2%;
    text-decoration: none;
    font-size: 0.7em;
    margin: 0 2% 5% 2%;
	box-sizing: border-box;
}
.footer_text {
	color: white;
	font-size: 1em;
}
footer {
	background-color: $header-color;
	padding: 3%;
	margin: 0;
	//box-sizing: border-box;
}